ai-worklog-assistant/docs/workflow.json
{
  "name": "Carlos copy3",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "05c23844-637a-420c-afe4-520e3d53030e",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -1200
      ],
      "webhookId": "b8b8ff5f-fbb4-47f0-b4c5-913cb8a22fe4",
      "credentials": {
        "telegramApi": {
          "id": "klvbW8WQAjKwqDdM",
          "name": "Telegram account - Carlos"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "hourlyRate",
              "value": 35,
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "chatId",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "userName",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "messageText",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "541cda2d-4dee-4b43-a3e8-69cb9496a183",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -1168
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatId }}",
        "contextWindowLength": 10
      },
      "id": "9f853f12-541d-4f85-af79-a4049c856781",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        -880
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Workflow Configuration').item.json.messageText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You extract work log information from messages written in Spanish or English.\n\nDetect the language of the user's message:\n- If Spanish: all reply text must be in Spanish.\n- If English: all reply text must be in English.\nJSON keys must remain in English. Only the \"reply\" field changes language.\n\nReturn ONLY valid JSON. No markdown, no extra text.\nAlways return ALL keys.\n\nThe current date is: {{ $now }}\nAll dates must be formatted as DD-MM-YYYY.\nAll times must be formatted as 24-hour HH:MM.\n\nAlways return this exact structure:\n\n{\n  \"intent\": \"\",\n  \"reply\": \"\",\n  \"date\": \"\",\n  \"time_in\": \"\",\n  \"time_out\": \"\",\n  \"break_hours\": 0,\n  \"worked_hours\": 0,\n  \"description\": \"\",\n  \"project\": \"\"\n}\n\nINTENT CLASSIFICATION\n\nintent can be:\n- \"time_entry\"\n- \"confirm_yes\"\n- \"confirm_no\"\n- \"smalltalk\"\n- \"unknown\"\n\nConfirmations:\n- confirm_yes if user confirms saving: \"sí\", \"si\", \"yes\", \"ok\", \"dale\", \"listo\", \"correcto\", \"👍\", \"confirmo\"\n- confirm_no if user cancels: \"no\", \"cancelar\", \"cancela\", \"stop\", \"anular\", \"nope\", \"nah\"\n\nFor confirm_yes or confirm_no, ALWAYS return:\nreply=\"\"\ndate=\"\"\ntime_in=\"\"\ntime_out=\"\"\nbreak_hours=0\nworked_hours=0\ndescription=\"\"\nproject=\"\"\n\nSMALLTALK / GREETINGS / THANKS / GOODBYE\n\nIf user message is greeting/thanks/goodbye, set intent=\"smalltalk\".\n\nReply rules for smalltalk (same language as user):\nA) Greeting → greet back + ask for hours with a short example.\nB) Thanks → acknowledge + invite to send hours when ready.\nC) Goodbye → polite goodbye.\n\nFor smalltalk ALWAYS return:\ndate=\"\"\ntime_in=\"\"\ntime_out=\"\"\nbreak_hours=0\nworked_hours=0\ndescription=\"\"\nproject=\"\"\n\nOUT-OF-SCOPE QUESTIONS (REDIRECT)\n\nIf the user asks for anything unrelated to logging work hours (weather, exchange rates, news, general questions, etc.), set intent=\"unknown\" and reply should redirect them back to the work-log function.\n\nSpanish:\n\"Ahora mismo solo puedo ayudarte a registrar tus horas de trabajo. Envíame algo como: 'Trabajé de 8am a 4pm con 1 hora de break'.\"\n\nEnglish:\n\"Right now I can only help you log work hours. Send something like: 'I worked from 8am to 4pm with a 1 hour break'.\"\n\nFor unknown ALWAYS return:\ndate=\"\"\ntime_in=\"\"\ntime_out=\"\"\nbreak_hours=0\nworked_hours=0\ndescription=\"\"\nproject=\"\"\n\nTIME ENTRY EXTRACTION (FLEXIBLE)\n\nFor time_entry: reply=\"\"\n\nDate:\n- If user mentions a date, recognize many formats (24/02/2026, 2026-02-24, \"ayer\", \"today\", etc.) and convert to DD-MM-YYYY.\n- If no date is mentioned, use today's date (from {{ $now }}).\n\nTime range:\n- Extract start/end times if present (8am-4pm, 08:00 a 16:00, etc).\n- Convert to HH:MM 24-hour.\n- If no time range: time_in=\"\" and time_out=\"\".\n\nBreak:\n- If break duration is given, convert to decimal hours.\n- If break interval is given, calculate decimal hours.\n- If both exist, prefer interval.\n- If no break: break_hours=0.\n\nWorked hours logic:\nA) If explicit net worked hours are given (\"trabajé 8 horas\" / \"I worked 8 hours\"):\n- worked_hours = stated hours (net). Do NOT subtract break from this number.\n\nB) If time range exists:\n- gross_hours = time_out - time_in\n- worked_hours = gross_hours - break_hours (min 0)\n\nC) If user gives total time in office (\"estuve 9 horas en la oficina y 1 hora break\"):\n- worked_hours = total - break\n\nIf insufficient data:\n- worked_hours=0\n\nDescription/project:\n- If user describes work → description.\n- Else: Spanish \"Trabajo general\", English \"General work\".\n- project only if mentioned."
        }
      },
      "id": "e7f55094-3717-4edc-af82-c53b56135adc",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        -1136
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "confirmationMessage",
              "value": "={{ '📋 Por favor confirma esta información:\\n\\n📅Fecha: ' + $('AI Agent').item.json.output.date +\n'\\n⏰ Horas: ' + $json.output.worked_hours +\n'\\n⏰ Horas Break: ' + $json.output.break_hours + '\\n📝 Descripción: ' + $('AI Agent').item.json.output.description + '\\n🏢 Proyecto: ' + $('AI Agent').item.json.output.project + '\\n💰 Tarifa: ' + $('Workflow Configuration').item.json.hourlyRate + '\\n\\n¿Es correcto? Responde \\'si\\' para guardar o \\'no\\' para cancelar.' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "chatId",
              "value": "={{ $('Workflow Configuration').item.json.chatId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e70a1870-4fc2-41f3-b456-3ae5df612fef",
      "name": "Format Confirmation Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -656
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{ $('Format Confirmation Message').item.json.confirmationMessage }}",
        "replyMarkup": "forceReply",
        "forceReply": {
          "force_reply": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "32e42a49-7954-4b75-a388-0ee4aa7b3873",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        -656
      ],
      "webhookId": "be95deb9-c9e1-4942-a8c0-64e96d9cf680",
      "credentials": {
        "telegramApi": {
          "id": "klvbW8WQAjKwqDdM",
          "name": "Telegram account - Carlos"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "Date",
              "value": "={{ $json.output.date }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "Worked Hours",
              "value": "={{ $json.output.worked_hours }}",
              "type": "number"
            },
            {
              "id": "32857792-73f7-4135-9da1-d6ca737024b7",
              "name": "Break Hours",
              "value": "={{ $json.output.break_hours }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "Description",
              "value": "={{ $json.output.description }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "Project",
              "value": "={{ $json.output.project }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "Rate",
              "value": "={{ $('Workflow Configuration').item.json.hourlyRate }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "User",
              "value": "={{ $('Workflow Configuration').item.json.userName }}",
              "type": "string"
            },
            {
              "id": "1a4dda65-f40f-405b-8f2e-0b7087fedc91",
              "name": "Total",
              "value": "={{ $json.output.worked_hours * $('Workflow Configuration').item.json.hourlyRate}}",
              "type": "number"
            },
            {
              "id": "2648fd52-0a55-4233-8677-6d49ab9b90e4",
              "name": "Time In",
              "value": "={{ $json.output.time_in }}",
              "type": "string"
            },
            {
              "id": "2fea6ad5-7c12-4302-ac45-b3f65d4194b6",
              "name": "Time Out",
              "value": "={{ $json.output.time_out }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c4c15b20-8ff3-4aa5-bcc0-ddac0cca3bfb",
      "name": "Format for Google Sheets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        -1248
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10F9C6B7-gjZ3ACcavxQKHH63eh5mhELLFataFcZOqlQ",
          "mode": "list",
          "cachedResultName": "Carlos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10F9C6B7-gjZ3ACcavxQKHH63eh5mhELLFataFcZOqlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/10F9C6B7-gjZ3ACcavxQKHH63eh5mhELLFataFcZOqlQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.Date }}",
            "Rate/Hour": "={{ $json.Rate }}",
            "Lunch Break": "={{ $json['Break Hours'] }}",
            "Hours Worked": "={{ $json['Worked Hours'] }}",
            "Time In": "={{ $json['Time In'] }}",
            "Time Out": "={{ $json['Time Out'] }}",
            "Total": "={{ $json.Total }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time In",
              "displayName": "Time In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time Out",
              "displayName": "Time Out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lunch Break",
              "displayName": "Lunch Break",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rate/Hour",
              "displayName": "Rate/Hour",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hours Worked",
              "displayName": "Hours Worked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a50aa42e-0ac4-440b-993d-3c315ab269bd",
      "name": "Save to Carlos Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        -1200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zq1f1ULU75jNT75j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Workflow Configuration').item.json.chatId }}",
        "text": "✅ ¡Guardado exitosamente! Tu registro de trabajo ha sido añadido a la hoja Carlos.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "c4095cd7-a08c-4712-9210-bbd1863363b6",
      "name": "Send Success Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2032,
        -1200
      ],
      "webhookId": "076eecc3-65a6-493a-9f2c-96b64db309ab",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "klvbW8WQAjKwqDdM",
          "name": "Telegram account - Carlos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        -864
      ],
      "id": "cec015e7-3ddf-4729-8baf-9508b448d44b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WgtvdxYIF5UGXmxL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2e9039d-3671-4d90-a1d7-efead6cbd656",
              "leftValue": "={{ $json.output.intent }}",
              "rightValue": "confirm_yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        -1136
      ],
      "id": "e3d3eba7-95d2-45ed-83b5-1f0ceca0eee1",
      "name": "If"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"intent\", \"reply\", \"date\", \"time_in\", \"time_out\", \"break_hours\", \"worked_hours\", \"description\", \"project\"],\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"intent\": { \"type\": \"string\", \"enum\": [\"time_entry\", \"confirm_yes\", \"confirm_no\", \"smalltalk\", \"unknown\"] },\n    \"reply\": { \"type\": \"string\" },\n\n    \"date\": { \"type\": \"string\" },\n\n    \"time_in\": { \"type\": \"string\" },\n    \"time_out\": { \"type\": \"string\" },\n\n    \"break_hours\": { \"type\": \"number\" },\n    \"worked_hours\": { \"type\": \"number\" },\n\n    \"description\": { \"type\": \"string\" },\n    \"project\": { \"type\": \"string\" }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        -768
      ],
      "id": "d7b9a8ed-5cbc-4275-8dfb-99b08e2e20c9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "carlos_pending",
        "columns": {
          "column": [
            {
              "name": "key"
            },
            {
              "name": "chatId",
              "type": "number"
            },
            {
              "name": "payload"
            },
            {
              "name": "createAt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        288,
        -512
      ],
      "id": "351d496d-1bee-413e-a433-af06e5cd7edf",
      "name": "Create a data table"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "XOWiyqjVw9VUcnGT",
          "mode": "list",
          "cachedResultName": "carlos_pending",
          "cachedResultUrl": "/projects/JGj39VtKBIK4QfYh/datatables/XOWiyqjVw9VUcnGT"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ 'pending_' + $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{ 'pending_' + $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
            "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
            "payload": "={{ JSON.stringify($node[\"AI Agent\"].json.output) }}",
            "createAt": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createAt",
              "displayName": "createAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1536,
        -656
      ],
      "id": "c8213469-df33-42b0-91a8-d67ec7061450",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e7680778-f0cb-494c-b90d-56179f669db0",
              "leftValue": "={{$json.output.intent}}",
              "rightValue": "confirm_no",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        -960
      ],
      "id": "22a94adc-bb87-48ff-9a7a-e9b96452d217",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "46e9113b-07d1-43e4-91a5-5797578a8dbc",
              "leftValue": "={{$json.output.intent}}",
              "rightValue": "time_entry",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        -688
      ],
      "id": "43e46495-83c7-440f-a385-c16a44936fa7",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "XOWiyqjVw9VUcnGT",
          "mode": "list",
          "cachedResultName": "carlos_pending",
          "cachedResultUrl": "/projects/JGj39VtKBIK4QfYh/datatables/XOWiyqjVw9VUcnGT"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ 'pending_' + $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        688,
        -1200
      ],
      "id": "4b382928-124a-45cf-bd7a-4a7490ac1c1a",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "XOWiyqjVw9VUcnGT",
          "mode": "list",
          "cachedResultName": "carlos_pending",
          "cachedResultUrl": "/projects/JGj39VtKBIK4QfYh/datatables/XOWiyqjVw9VUcnGT"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ 'pending_' + $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        752,
        -992
      ],
      "id": "fdf4a418-3ac4-43eb-951a-43744559d260",
      "name": "Delete row(s)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Registro cancelado ❌ Cuando quieras, envíame tus horas nuevamente.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        -960
      ],
      "id": "8fbc5b50-6dc5-4450-b090-f465096644d6",
      "name": "Send a text message",
      "webhookId": "5e025360-d7d1-44ff-a24a-c4d3c6eb8e01",
      "credentials": {
        "telegramApi": {
          "id": "klvbW8WQAjKwqDdM",
          "name": "Telegram account - Carlos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b3cafc6a-cae7-4297-81f1-837ac4469fdb",
              "leftValue": "={{$json.payload}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -1200
      ],
      "id": "3bce3947-1392-4bac-b03b-b76e2b9016dc",
      "name": "If3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "No tengo nada pendiente para confirmar. Envíame tus horas 🙂",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        -928
      ],
      "id": "657da572-0c39-41bf-bd30-3d1e675cb26e",
      "name": "Send a text message1",
      "webhookId": "5ab4a249-21a5-4f71-bf0d-9e3bdfe1dff3",
      "credentials": {
        "telegramApi": {
          "id": "klvbW8WQAjKwqDdM",
          "name": "Telegram account - Carlos"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "XOWiyqjVw9VUcnGT",
          "mode": "list",
          "cachedResultName": "carlos_pending",
          "cachedResultUrl": "/projects/JGj39VtKBIK4QfYh/datatables/XOWiyqjVw9VUcnGT"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ 'pending_' + $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1792,
        -1216
      ],
      "id": "4e2d2d0d-f0ad-4b81-8386-4ef5d238f947",
      "name": "Delete row(s)1"
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($json.payload);\nreturn [{ ...$json, output: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -1296
      ],
      "id": "f7cbc986-6d77-46ed-b0be-cc4bc3c3210b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output.reply }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        -432
      ],
      "id": "ab5dbfed-94c7-4d2d-a0e8-b55564dc7ff9",
      "name": "Send a text message2",
      "webhookId": "9c00b0fe-6a4b-4a1b-b96f-fa8b3ba2defa",
      "credentials": {
        "telegramApi": {
          "id": "klvbW8WQAjKwqDdM",
          "name": "Telegram account - Carlos"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Confirmation Message": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Google Sheets": {
      "main": [
        [
          {
            "node": "Save to Carlos Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Carlos Sheet": {
      "main": [
        [
          {
            "node": "Delete row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Format Confirmation Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)1": {
      "main": [
        [
          {
            "node": "Send Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Format for Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "411bf3bb-897e-4e77-8f94-4084a6b14c7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48d6009038edad90eccd2178bb14c74124af2c721b1b721da5c7fab4889037cf"
  },
  "id": "Rfw2AklyzGqRnVX0",
  "tags": []
}
